<div class='container-fluid'>

	<div class='row'>
		<div class='col-sm-12'>
		<center><h1>Title</h1></center>
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-2'>
		</div>
		<div class='col-sm-8'> <!-- add the gradient here -->
			<div class= 'col-sm-12' style='height: 400px'>
				<div class= 'col-sm-4'>
					<h3>Users</h3>
						<ul style='list-style: none'>
							<li>find your barber</li>
							<li>reserve your haircut</li>
							<li>find new deals</li>
						</ul>
				</div>
				<div class= 'col-sm-4'>
					<h3>Hair Stylist</h3>
						<ul style='list-style: none'>
							<li>build your rep</li>
							<li>upload your skills</li>
							<li>track your schedule</li>
						</ul>
				</div>
				<div class= 'col-sm-4'>
					<h3>Manager</h3>
						<ul style='list-style: none'>
							<li>store effiency increase</li>
							<li>manage employees</li>
							<li>express payments</li>
						</ul>
				</div>
			</div>
			<center><button><%= link_to 'Barbershops', '/signup_or_login' %></button>
			<button><%= link_to 'Salons', '' %></button></center>
		</div>
		<div class='col-sm-2'>
		</div>
	</div>

</div>